@tailwind base;
@tailwind components;
@tailwind utilities;
.line-break {
  white-space: pre-wrap;
}
strong {
  font-weight: 900 !important;
}

@layer base {

  .blue-link {
    @apply flex items-center text-blue-800 py-2 font-light
  }
  .yellow-button {
    @apply flex items-center bg-yellow-400 text-blue-800 py-2 px-7 rounded-md font-light
  }
  .white-button {
    @apply flex items-center bg-none text-white py-2 px-7 rounded-md border border-white
  }
}