.form_control {
    @apply block mb-3;
}

.form_control__input {
    @apply w-full border-gray-300 rounded-lg shadow-sm focus:border-indigo-500 text-black resize-none;
}

.form_control__error {
    @apply text-red-500;
}

.form_control__label {
    @apply w-full flex flex-col justify-between mb-2;
}

.form_control__label__first {
    @apply text-app-blue font-light;
}

.form_control__label__second {
    @apply text-gray-500 text-sm;
}

.form_control__button {
    @apply w-full rounded-md bg-app-blue text-white border border-blue-900 px-4 py-2;
}

.outline__button__black {
    @apply text-gray-600 border border-gray-600 rounded-lg px-7 py-1 ml-2 my-2 hover:bg-gray-600 hover:text-white
}

.button__red {
    @apply bg-red-600 border border-red-600 rounded-lg px-7 py-1 text-white ml-2 my-2 hover:bg-transparent hover:text-red-600
}
