.form_control {
  @apply block mb-5;
}

.form_control__input {
  @apply w-full border-gray-300 rounded-lg shadow-sm focus:border-indigo-500;
}

.form_control__error {
  @apply text-red-500;
}

.form_control__label {
  @apply w-full flex flex-col justify-between mb-2;
}

.form_control__label__first {
  @apply text-blue-800 font-light;
}

.form_control__label__second {
  @apply text-gray-500 text-sm;
}

.form_control__button {
  @apply w-full rounded-md bg-blue-900 text-white border border-blue-900 px-4 py-2;
}