@tailwind base;
@tailwind components;
@tailwind utilities;
.line-break {
  white-space: pre-wrap;
}
strong {
  font-weight: 900 !important;
}
.react-colorful__last-control {
  border-radius: 0 !important;
}
@layer base {

  .blue-link {
    @apply flex items-center text-app-blue py-2 font-light
  }
  .yellow-button {
    @apply flex items-center bg-app-yellow text-app-blue py-2 px-7 rounded-md font-light
  }
  .white-button {
    @apply flex items-center bg-none text-white py-2 px-7 rounded-md border border-white
  }

  .add-date_button{
    @apply text-white bg-app-blue flex items-center justify-between px-3 py-2 rounded-full;
  }

  .outline-blue-button{
    @apply text-app-blue  border border-blue-800 flex items-center justify-between px-3 py-2 rounded-full;
  }

  .filled-blue-button{
    @apply text-app-blue  border border-app-blue flex items-center justify-between px-3 py-2 rounded-full;
  }

  .input-label {
    @apply text-xl;
  }

  .input-form {
    @apply w-full rounded-lg border-gray-300 text-xl shadow-sm focus:border-indigo-500;
  }

}